<div class="flex flex-col">
  <h5>General Setting</h5>
  <div class="flex flex-col gap-4">
    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="heroEnvelope" size="28"/>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">SMTP</div>
            </div>
            <div class="hidden md:block">Setting the credential and parameters to enable an application to send
              emails.
            </div>
          </div>
        </div>
      </ng-template>
      <app-mail-setting></app-mail-setting>
    </p-panel>

    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="heroKey" size="28"/>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">Authentication</div>
            </div>
            <div class="hidden md:block">Setting the authentication method.</div>
          </div>
        </div>
      </ng-template>
      <app-authentication></app-authentication>
    </p-panel>

    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="heroScale" size="28"/>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">Service Level Agreement (SLA)</div>
            </div>
            <div class="hidden md:block">Define timeframe for your development and IT teams to resolve the finding.
            </div>
          </div>
        </div>
      </ng-template>
      <app-sla></app-sla>
    </p-panel>
  </div>
</div>
