@if (editable) {
  <div class="w-full">
    @if (!preview) {
      <div class="flex flex-col w-full border border-surface rounded gap-1">
        <div class="flex flex-row justify-between p-2 border-b border-surface">
          <markdown-toolbar [attr.for]="controlId" class="flex flex-row items-center gap-2 cursor-pointer">
            <md-bold title="Bold" aria-label="Bold">
              <ng-icon name="bold" [size]="iconSize"></ng-icon>
            </md-bold>
            <md-italic title="Italic" aria-label="Italic">
              <ng-icon name="italic" [size]="iconSize"></ng-icon>
            </md-italic>
            <md-quote title="Quote" aria-label="Quote">
              <ng-icon name="quote" [size]="iconSize"></ng-icon>
            </md-quote>
            <md-code title="Code" aria-label="Code">
              <ng-icon name="codeBracket" [size]="iconSize"></ng-icon>
            </md-code>
            <md-link title="Link" aria-label="Link">
              <ng-icon name="link" [size]="iconSize"></ng-icon>
            </md-link>
            <md-image title="Image" aria-label="Image">
              <ng-icon name="media" [size]="iconSize"></ng-icon>
            </md-image>
            <md-unordered-list title="Unordered List" aria-label="Unordered List">
              <ng-icon name="listBullet" [size]="iconSize"></ng-icon>
            </md-unordered-list>
            <md-ordered-list title="Ordered List" aria-label="Ordered List">
              <ng-icon name="listNumber" [size]="iconSize"></ng-icon>
            </md-ordered-list>
            <md-table title="Table" aria-label="Table" (click)="insertTable()">
              <ng-icon name="table" [size]="iconSize"></ng-icon>
            </md-table>
            <md-preview>
              <ng-icon name="eye" [size]="iconSize" (click)="onPreview()" class="cursor-pointer"></ng-icon>
            </md-preview>
          </markdown-toolbar>
          <div class="flex flex-row items-center">
            @if (loading) {
              <i class="pi pi-spin pi-spinner"></i>
            }
          </div>
        </div>
        <textarea [id]="controlId" #textarea pTextarea [autoResize]="true" class="mx-2 border-none"
                  [(ngModel)]="data"
                  (ngModelChange)="changeValue($event)">
          </textarea>
        <div class="w-full flex flex-row space-x-1 items-center justify-between p-2">
          <a class="hidden md:block no-wrap text-sm" target="_blank"
             href="https://www.markdownguide.org/basic-syntax/">Markdown is supported</a>
        </div>
      </div>
    } @else {
      <div class="preview" [ngClass]="previewClass">
        <markdown [data]="data"></markdown>
        <div class="p-1 icon-edit cursor-pointer" title="Click to edit" (click)="onEdit()">
          <i class="pi pi-pen-to-square"></i>
        </div>
      </div>
    }
  </div>
} @else {
  <markdown class="w-full" [data]="data"></markdown>
}
