# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
dist/
/tmp
/out-tsc
/bazel-out
Logs/
logs/
# Node
node_modules/
npm-debug.log
yarn-error.log

# .NET
obj/
bin/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
*.DotSettings.user

# local secrets
.env

# mkdocs build output
site/

# python
__pycache__/
*.pyc

# playwright
warden-web/test-results/
warden-web/playwright-report/
warden-web/e2e-results.json
warden-web/.playwright/
