<p-timeline [value]="activities">
  <ng-template #marker let-activity>
    <span class=" flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full dark:bg-blue-900">
      <i [ngClass]="activityIcon(activity.type)"></i>
    </span>
  </ng-template>
  <ng-template #content let-activity>
    <p-panel styleClass="mb-4">
      <ng-template #header>
        @if (activity.username) {
          <div class="flex items-center gap-2">
            <p-avatar
              shape="circle"
              size="normal"
              [image]="activity.avatar"
              [label]="activity.username | firstChar:'U' | uppercase">
            </p-avatar>
            <span class="font-bold">{{activity.username}}</span>
          </div>
        } @else {
          <span class="font-bold">System</span>
        }
      </ng-template>
      <ng-template #icons>
        <time class="block text-sm" [pTooltip]="activity.createdAt">{{ activity.createdAt | timeago }}</time>
      </ng-template>
      <div class="flex flex-row items-center gap-2">
        @switch (activity.type) {
          @case (FindingActivityType.ChangeStatus) {
            <span>Change status</span>
            @if(activity.oldState || activity.newState) {
              <div class="flex flex-row items-center gap-2">
                @if(activity.oldState){
                  <finding-status styleClass="text-xs" [status]="activity.oldState"/>
                }
                <span>to</span>
                @if(activity.newState){
                  <finding-status styleClass="text-xs" [status]="activity.newState"/>
                }
              </div>
            }
          }
          @case (FindingActivityType.ChangeDeadline) {
            <span>Change SLA</span>
            @if(activity.oldState || activity.newState) {
              <div class="flex flex-row items-center gap-2">
                @if (activity.oldState) {
                  <div class="flex text-nowrap border border-surface px-3 py-1 rounded">
                    {{ parseDate(activity.oldState) | date : 'dd/MM/yyyy' }}
                  </div>
                }
                <span>to</span>
                @if (activity.newState) {
                  <div class="flex text-nowrap border border-surface px-3 py-1 rounded">
                    {{ parseDate(activity.newState) | date : 'dd/MM/yyyy' }}
                  </div>
                }
              </div>
            }
          }
          @case (FindingActivityType.Open) {
            <span>first seen</span>
          }
          @case (FindingActivityType.Fixed) {
            <finding-status-label [status]="FindingStatus.Fixed"></finding-status-label>
          }
          @case (FindingActivityType.Reopen) {
            <span>seen again</span>
          }
        }
        @if (activity.commit) {
          <span>on</span>
          <scan-branch-label [commitType]="activity.commit.action ?? CommitType.CommitBranch"
                       [commitBranch]="activity.commit.branch ?? ''"
                       [targetBranch]="activity.commit.targetBranch">
          </scan-branch-label>
        }
      </div>
      @if (activity.comment) {
        <markdown [data]="activity.comment"></markdown>
      }
    </p-panel>
  </ng-template>
</p-timeline>
