<div class="mx-auto flex flex-col">
  <div class="flex flex-col gap-4">
    <p-panel class="col-span-12">
      <ng-template #header>
        <div class="text-xl">Static Application Security Testing (SAST)</div>
      </ng-template>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">MODE</div>
          <p-select-button [options]="thresholdModeOptions"
                           optionValue="value"
                           optionLabel="label"
                           [formControl]="sastForm.controls.mode!"></p-select-button>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">CRITICAL</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="sastForm.controls.critical!"></p-input-number>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">HIGH</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="sastForm.controls.high!"></p-input-number>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">MEDIUM</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="sastForm.controls.medium!"/>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">LOW</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="sastForm.controls.low!"/>
        </div>
        <p-button severity="primary" label="Update" (onClick)="updateSastSetting()"/>
      </div>
    </p-panel>
    <p-panel class="col-span-12 pb-4">
      <ng-template #header>
        <div class="text-xl">Software Composition Analysis (SCA)</div>
      </ng-template>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">MODE</div>
          <p-select-button [options]="thresholdModeOptions"
                           optionValue="value"
                           optionLabel="label"
                           [formControl]="scaForm.controls.mode!"></p-select-button>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">CRITICAL</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="scaForm.controls.critical!"/>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">HIGH</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="scaForm.controls.high!"/>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">MEDIUM</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="scaForm.controls.medium!"/>
        </div>
        <div class="flex flex-row items-center gap-4">
          <div class="w-28">LOW</div>
          <p-input-number inputId="integeronly" min="0" [formControl]="scaForm.controls.low!"/>
        </div>
        <p-button severity="primary" label="Update" (onClick)="updateScaSetting()"/>
      </div>
    </p-panel>
  </div>
</div>
