<div class="flex flex-col rounded-xl bg-background gap-4 w-full">
  <div class="flex flex-col gap-2 w-full">
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Enable</span>
      <div class="w-full max-w-md">
        <p-toggle-switch [(ngModel)]="setting.active"></p-toggle-switch>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Webhook</span>
      <div class="w-full max-w-md">
        <input pInputText type="text" class="w-full" [(ngModel)]="setting.webhook">
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Token</span>
      <div class="w-full max-w-md">
        <input pInputText type="text" class="w-full" placeholder="X-Automation-Webhook-Token" [(ngModel)]="setting.token">
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-2 items-center">
    <button pButton severity="primary"
            [loading]="loading"
            [disabled]="loading"
            (click)="saveConfig()">Update
    </button>
    <button pButton severity="secondary"
            [loading]="loadingTest"
            [disabled]="loadingTest"
            (click)="testConnection()">Test Connection
    </button>
  </div>
</div>
