<!--NAV-->
<p-panel [style]="{'height': 'calc(100vh - 8rem)'}">
  <ng-template #header>
    <p-tabs class="w-full" [value]="activeTab">
      <p-tablist>
        @for (tab of tabs; track $index) {
          <p-tab [value]="$index" [routerLink]="tab.routerLink">
            <ng-icon [name]="tab.icon"></ng-icon>
            <span>{{ tab.label }}</span>
          </p-tab>
        }
      </p-tablist>
    </p-tabs>
  </ng-template>
  <div class="overflow-y-auto px-4" style="height: calc(100vh - 15rem)">
    <router-outlet></router-outlet>
  </div>
</p-panel>
