<p-panel styleClass="h-full overflow-y-auto">
  <ng-template #header>
    <div class="flex flex-row items-center w-full gap-2">
      <risk-level-icon
        size="24"
        [impact]="package()?.riskImpact"
        [risk]="package()?.riskLevel">
      </risk-level-icon>
      <div class="text-xl">{{ packageName(package()) }}</div>
      <package-type [packageType]="package()?.type"></package-type>
    </div>
  </ng-template>
  <div class="flex flex-col gap-4">
    <div class="flex flex-row gap-2 items-center">
      @if (projectId() && projectName()) {
        <a [routerLink]="['/project', projectId, 'overview']"
           class="hover:underline">{{ projectName() }}</a>
      }
    </div>
    @if (package()?.riskLevel != RiskLevel.None) {
      <div class="flex flex-row items-center gap-2">
        <package-status-menu styleClass="text-base" [status]="status()" (onChange)="onChangeStatus($event)"/>
        <ticket-menu [loading]="loadingTicket"
                     [ticket]="ticket()!"
                     (onDelete)="deleteTicket()"
                     (onTicket)="createTicket($event)"/>
      </div>
    }
    @if (branchStatus() && branchStatus()!.length > 0) {
      <p-fieldset [legend]="location() ?? ''">
        <div class="flex flex-col gap-3">
          @for (branch of branchStatus(); track $index) {
            <div class="flex flex-row gap-2 items-center justify-between">
              <scan-branch-label
                [commitBranch]="branch.commitBranch"
                [commitType]="branch.commitType"
                [targetBranch]="branch.targetBranch">
              </scan-branch-label>
              @if (package()?.riskLevel != RiskLevel.None) {
                <package-status-menu styleClass="text-sm" [status]="branch.status!"
                                     (onChange)="onChangeBranchStatus($event)"/>
              }
            </div>
          }
        </div>
      </p-fieldset>
    }
    @if (package()?.fixedVersion) {
      <p-fieldset legend="Recommendation">
        <p-message severity="info">Upgrade package to version {{ package()?.fixedVersion }}</p-message>
      </p-fieldset>
    }
    <p-fieldset legend="Vulnerabilities">
      @if (vulnerabilities().length > 0) {
        <list-vulnerability [vulnerabilities]="vulnerabilities()"/>
      } @else {
        <p-message severity="success">There are no vulnerability</p-message>
      }
    </p-fieldset>
    <p-fieldset legend="Dependencies">
      @if (dependencies().length > 0) {
        <list-package [packages]="dependencies()"></list-package>
      } @else {
        <p-message severity="secondary">There are no dependencies</p-message>
      }
    </p-fieldset>
  </div>
</p-panel>
