<p-panel>
  <ng-template #header>
    <div class="font-semibold text-foreground text-xl">User Manager</div>
  </ng-template>
  <div class="flex flex-col py-3 px-5">
    <div class="flex flex-wrap md:flex-row items-center justify-between gap-2">
      <div class="flex flex-row gap-2">
        <p-icon-field>
          <p-inputicon styleClass="pi pi-search"/>
          <input type="text" class="text-sm" [(ngModel)]="store.filter.name" (keyup.enter)="onSearchChange()" pInputText
                 placeholder="Search..."/>
        </p-icon-field>
        <sort-by [options]="sortOptions"
                 [sortBy]="store.filter.sortBy"
                 (onChange)="onSortChange($event)"/>
      </div>
      <div class="flex flex-row items-center gap-2">
        <button pButton severity="primary" (click)="onShowAddUserDialog()">Add User</button>
      </div>
    </div>
  </div>
  <!--    TABLE-->
  <p-table [loading]="loading" [value]="store.users()" [scrollable]="true" [scrollHeight]="'calc(100vh - 22rem)'"
           styleClass="mt-4">
    <ng-template #header>
      <tr>
        <th class="w-[50px] min-w-[50px] text-center">
          <p-checkbox binary></p-checkbox>
        </th>
        <th class="min-w-[300px] uppercase">User</th>
        <th class="min-w-[180px] uppercase">Role</th>
        <th class="min-w-[80px] uppercase">
          <div class="w-full flex flex-row items-center justify-center">
            <span>Status</span>
          </div>
        </th>
        <th class="min-w-[60px] uppercase">
          <div class="w-full flex flex-row items-center justify-center">
            <span>Verified</span>
          </div>
        </th>
        <th class="min-w-[80px] uppercase">
          <div class="w-full flex flex-row items-center justify-center">
            <span>Lockout</span>
          </div>
        </th>
        <th class="min-w-[180px] uppercase">CREATED AT</th>
        <th class="w-[100px] uppercase">
          <div class="w-full flex flex-row items-center justify-center">
            <span>ACTION</span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td class="text-center">
          <p-checkbox binary></p-checkbox>
        </td>
        <td>
          <user-info [avatar]="user.avatar"
                     [username]="user.userName ?? 'Unknown'"
                     [fullName]="user.fullName"
                     [email]="user.email">
          </user-info>
        </td>
        <td>
          <p-chip [label]="user.role"></p-chip>
        </td>
        <td>
          <div class="w-full flex flex-row items-center justify-center">
            @if (user.status == UserStatus.Active) {
              <p-chip [label]="user.status" class="text-white dark:bg-green-800 bg-green-500"></p-chip>
            } @else {
              <p-chip [label]="user.status" class="text-white dark:bg-red-800 bg-red-500"></p-chip>
            }

          </div>

        </td>
        <td>
          <div class="flex justify-center">

            @if (user.verified) {
              <i class="pi pi-check-circle text-green-500"></i>
            } @else {
              <i class="pi pi-times-circle text-red-500"></i>
            }
          </div>
        </td>
        <td>
          <div class="w-full flex flex-row items-center justify-center gap-2">
            @if (user.lockout) {
              <i class="pi pi-lock text-red-500"></i>
              <span [pTooltip]="user.lockout" tooltipPosition="top">{{ user.lockout | timeago }}</span>
            }
          </div>
        </td>
        <td>
          <span [pTooltip]="user.createdAt">{{ user.createdAt | timeago }}</span>
        </td>
        <td>
          <div class="flex flex-row items-center justify-end gap-3 px-2">
            @if (!user.verified) {
              <i class="pi pi-send cursor-pointer"
                 (click)="onSendEmailConfirmDialog(user)"
                 pTooltip="send email confirm" tooltipPosition="top"></i>
            }
            <i class="pi pi-user-edit cursor-pointer" (click)="onShowUpdateUserDialog(user)"></i>
            <i class="pi pi-times-circle cursor-pointer"
               pTooltip="disable user" tooltipPosition="top"
               (click)="onConfirmDisableUser(user)"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="flex flex-row justify-end">
    <p-paginator class="sticky bottom-0"
                 (onPageChange)="onPageChange($event)"
                 [first]="store.firstRecord()"
                 [rows]="store.pageSize()"
                 [totalRecords]="store.totalRecords()"
                 [showCurrentPageReport]="isDesktop"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                 [rowsPerPageOptions]="[10, 20, 50, 100]"/>
  </div>
</p-panel>
<p-confirm-dialog></p-confirm-dialog>
<!--add user-->
<app-add-user-popup></app-add-user-popup>
<app-update-user-popup [user]="store.selectedUser()"></app-update-user-popup>
