@if (labelType() == 'button') {
  <p-button [severity]="severity()" (click)="op.toggle($event)" icon="pi pi-calendar" [label]="currentLabel()" />
} @else {
  <p-floatlabel variant="on">
    <p-icon-field id="on_label">
      <input [ngClass]="styleClassInput()" pInputText [ngModel]="currentLabel()" (click)="op.toggle($event)" />
      @if(type() != null && showClear()) {
        <p-inputicon class="pi pi-times cursor-pointer" (click)="clearRangeDate()"/>
      }
    </p-icon-field>
    <label for="on_label">{{label()}}</label>
  </p-floatlabel>
}
<p-popover #op>
  <div class="flex flex-col gap-2">
    <div class="flex flex-row">
      <div class="flex flex-col gap-1">
        @for (dateType of rangeDateTypes; track $index) {
          <div class="hover:bg-surface-200 dark:hover:bg-surface-800 cursor-pointer px-4 py-2"
               [ngClass]="{'bg-surface-200 dark:bg-surface-800': type() == dateType}"
               (click)="changeDateRange(dateType)">{{mRangeDateLabel.get(dateType)}}</div>
        }
        <div class="hover:bg-surface-200 dark:hover:bg-surface-800 cursor-pointer px-4 py-2"
             [ngClass]="{'bg-surface-200 dark:bg-surface-800': type() == RangeDateType.Custom}"
             (click)="showCustomRangeDate = !showCustomRangeDate">
          Custom Range
        </div>
      </div>
      @if (showCustomRangeDate) {
        <div class="flex flex-col pl-3 gap-2">
          <p-date-picker inline selectionMode="range" [(ngModel)]="rangeDate"
                         (ngModelChange)="updateCustomRangeDateLabel()"></p-date-picker>
        </div>
      }
    </div>
    @if(showCustomRangeDate){
      <div class="flex justify-end w-full">
        <div class="flex flex-row gap-2 items-center">
          <div class="mr-2">{{rangeDateLabel}}</div>
          <p-button label="Cancel" severity="secondary" (onClick)="onCustomRangeDateCancel()"></p-button>
          <p-button label="Apply" severity="primary" (onClick)="onCustomRangeDateChange()"></p-button>
        </div>
      </div>
    }
  </div>
</p-popover>
