<div class="flex flex-col">
  <h5>Integration</h5>
  <div class="flex flex-col gap-4">
    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="heroEnvelope" size="28"></ng-icon>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">Mail</div>
              @if (integrationSetting.mail) {
                <div
                  class="flex flex-row items-center gap-1 rounded-full px-1.5 py-0.5 text-xs bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300">
                  <ng-icon name="heroCheckCircle" size="18"></ng-icon>
                  <span>Active</span>
                </div>
              }
            </div>
            <div class="hidden md:block">Send mail alert to project's members.</div>
          </div>
        </div>
      </ng-template>

      <mail-integration-project></mail-integration-project>
    </p-panel>

    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="teams" size="28"></ng-icon>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">Microsoft Teams</div>
              @if (integrationSetting.teams) {
                <div
                  class="flex flex-row items-center gap-1 rounded-full px-1.5 py-0.5 text-xs bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300">
                  <ng-icon name="heroCheckCircle" size="18"></ng-icon>
                  <span>Active</span>
                </div>
              }
            </div>
            <div class="hidden md:block">Send project's notifications to Microsoft Teams channels.</div>
          </div>
        </div>
      </ng-template>
      <teams-integration-project></teams-integration-project>
    </p-panel>

    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="jira" size="36"></ng-icon>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">Jira Issue</div>
              @if (integrationSetting.jira) {
                <div
                  class="flex flex-row items-center gap-1 rounded-full px-1.5 py-0.5 text-xs bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300">
                  <ng-icon name="heroCheckCircle" size="18"></ng-icon>
                  <span>Active</span>
                </div>
              }
            </div>
            <div class="hidden md:block">Push project's issues to Jira.</div>
          </div>
        </div>
      </ng-template>
      <jira-integration-project></jira-integration-project>
    </p-panel>
    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template #header>
        <div class="flex flex-row gap-2 items-center py-2 cursor-pointer">
          <div class="flex flex-row border border-surface w-10 h-10 rounded items-center justify-center">
            <ng-icon name="redmine" size="30"></ng-icon>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row items-center gap-2">
              <div class="font-semibold">Redmine Issue</div>
              @if (integrationSetting.redmine) {
                <div
                  class="flex flex-row items-center gap-1 rounded-full px-1.5 py-0.5 text-xs bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300">
                  <ng-icon name="heroCheckCircle" size="18"></ng-icon>
                  <span>Active</span>
                </div>
              }
            </div>
            <div class="hidden md:block">Push project's issues to Redmine.</div>
          </div>
        </div>
      </ng-template>
      <redmine-integration-project></redmine-integration-project>
    </p-panel>
  </div>
</div>
