<div class="flex flex-col">
  <form class="flex flex-col gap-2 w-full">
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-24 md:w-48">Enable</span>
      <div class="w-full max-w-md">
        <p-toggleswitch [(ngModel)]="setting.active" name="active"/>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full">
      <span class="w-24 md:w-48">Event</span>
      <div class="flex flex-col gap-1">
        <div class="flex flex-row gap-2 items-center">
          <p-toggleswitch [(ngModel)]="setting.securityAlertEvent" name="securityAlertEvent"/>
          <label>Security Alert</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggleswitch [(ngModel)]="setting.newFindingEvent" name="newFindingEvent"/>
          <label>New Finding</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggleswitch [(ngModel)]="setting.fixedFindingEvent" name="fixedFindingEvent"/>
          <label>Fixed Finding</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggleswitch [(ngModel)]="setting.needTriageFindingEvent" name="needTriageFindingEvent"/>
          <label>Need Triage Finding</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggleswitch [(ngModel)]="setting.scanCompletedEvent" name="scanCompletedEvent"/>
          <label>Scan Completed</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggleswitch [(ngModel)]="setting.scanFailedEvent" name="scanFailedEvent"/>
          <label>Scan Failed</label>
        </div>
      </div>
    </div>
  </form>
  <div class="flex flex-row gap-2 items-center">
    <button pButton severity="primary"
            [loading]="loading"
            [disabled]="loading"
            (click)="saveConfig()">Update
    </button>
  </div>
</div>
