<div class="flex flex-col gap-4 w-full">
  <div class="flex flex-col gap-2 w-full">
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Enable</span>
      <div class="w-full max-w-md">
        <p-toggle-switch [formControl]="form.controls.active!"></p-toggle-switch>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Jira URL</span>
      <div class="w-full max-w-md">
        <input pInputText type="text" class="w-full" [formControl]="form.controls.webUrl!">
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Email or username</span>
      <div class="w-full max-w-md">
        <input pInputText type="text" class="w-full" [formControl]="form.controls.userName!">
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">API token or password</span>
      <div class="w-full max-w-md">
        <p-password [feedback]="false" toggleMask [formControl]="form.controls.password!"
                    inputStyleClass="w-full" styleClass="w-full"></p-password>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Default Project</span>
      <div class="flex flex-row items-center gap-2">
        <p-select optionLabel="name" optionValue="key" placeholder="Select"
                  [options]="jiraProjects()"
                  [formControl]="form.controls.projectKey!"
                  (onChange)="onChangeJiraProject($event)">
        </p-select>
        <p-button severity="secondary" icon="pi pi-sync" (click)="onReload()" [loading]="loadingJiraProject"></p-button>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Issue Type</span>
      <div class="flex flex-row items-center gap-2">
        <p-select [options]="issueTypes()" optionValue="value" optionLabel="name" placeholder="Select"
                  [loading]="loadingIssueType"
                  [formControl]="form.controls.issueType!">
        </p-select>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-2 items-center">
    <button pButton severity="primary" [loading]="form.disabled" (click)="saveSetting()">Update</button>
    <button pButton severity="secondary" [loading]="loadingTest" (click)="testConnection()">Test Connection</button>
  </div>
</div>
