<form class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Two Step Verification</h2>
    <p class="text-sm text-muted-foreground">Enter the verification code</p>
  </div>
  <div class="grid grid-cols-6">
    @for (otpValue of otpValues; track $index; ) {
      <input
        (click)="changeIndex($index)"
        (keydown)="onKeyDown($event, $index)"
        (input)="onInput($event, $index)"
        (paste)="onPaste($event)"
        placeholder=""
        [(ngModel)]="otpValues[$index]"
        type="text"
        [name]="'otp-' + $index"
        maxlength="1"
        class="otp-input h-10 w-10 rounded-md text-xl border border-primary bg-background text-center text-muted-foreground outline-none sm:h-14 sm:w-14 focus:border-none"/>
    }
  </div>

  <!-- Submit Button -->
  <div>
    <button pButton severity="primary" class="h-10 w-full">
      Submit
    </button>
  </div>
</form>
