<div class="flex flex-col gap-8">
  <div class="flex flex-col font-normal gap-2">
    <div class="flex flex-row gap-2 items-center text-base">
      <ng-icon [name]="store.project().sourceType! | lowercase"></ng-icon>
      <a [href]="store.project().repoUrl" target="_blank" class="hover:underline">{{ store.project().name }}</a>
    </div>
    <div class="flex flex-row items-center gap-1">
      <div>You have</div>
      @if (statisticLoading) {
        <ng-icon name="spin" class="animate-spin"></ng-icon>
      } @else {
        <a class="font-bold text-primary hover:underline hover:underline-offset-4"
           [routerLink]="['/project', store.projectId(), 'finding']"
           [queryParams]="{'status': 'Open'}">
          {{ statistic.openFinding }}
        </a>
      }
      <div>open vulnerabilities</div>
    </div>
  </div>
  <div class="flex flex-wrap gap-4">
    <div class="flex flex-col min-w-96 overflow-x-auto">
      <h5>Static Application Security Testing (SAST)</h5>
      <p-panel class="w-full">
        <div class="flex flex-wrap">
          <severity-chart [severity]="statistic.severitySast"></severity-chart>
          <finding-status-chart [status]="statistic.statusSast"></finding-status-chart>
        </div>
      </p-panel>
    </div>
    <div class="flex flex-col">
      <h5>Software Composition Analysis (SCA)</h5>
      <p-panel class="w-full">
        <div class="flex flex-wrap">
          <severity-chart [severity]="statistic.severitySca"/>
          <package-status-chart [status]="statistic.statusSca"/>
        </div>
      </p-panel>
    </div>
  </div>
  <p-panel>
    <!--    FILTER-->
    <div class="flex flex-col">
      <div class="flex flex-row gap-2 w-full">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search"/>
          <input type="text" (keyup.enter)="onSearchChange()" pInputText placeholder="Search..."/>
        </p-iconfield>
      </div>
    </div>
    <!--    TABLE-->
    <p-table [loading]="loading" [value]="scans()" [scrollable]="true" scrollHeight="400px" styleClass="mt-2">
      <ng-template #header>
        <tr class="text-sm">
          <th class="w-[50px] min-w-[50px] text-center">
            <p-checkbox binary></p-checkbox>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>SCAN</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>SCANNER</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>TYPE</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>STATUS</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 min-w-32">
              <span>FINDING</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-10 text-nowrap">
              <span>LAST SCAN</span>
            </div>
          </th>
          <th class="max-w-10">
            DURATION
          </th>
          <th class="max-w-10">ACTION</th>
        </tr>
      </ng-template>
      <ng-template #body let-scan let-scanType="ProjectScan">
        <tr>
          <td class="text-center">
            <p-checkbox binary></p-checkbox>
          </td>
          <td>
            <a [routerLink]="['/project', store.projectId(), 'finding']"
               [queryParams]="{'commitId': typedScan(scan).commitId, 'scanner': typedScan(scan).scannerId}"
               class="flex flex-col gap-1">
              <span [pTooltip]="typedScan(scan).commitTitle!" tooltipPosition="top">{{ typedScan(scan).commitTitle! | truncate:50 }}</span>
              <scan-branch-label [commitType]="typedScan(scan).commitType ?? CommitType.CommitBranch"
                                 [commitBranch]="typedScan(scan).commitBranch ?? ''"
                                 [targetBranch]="typedScan(scan).targetBranch">
              </scan-branch-label>
            </a>
          </td>
          <td>{{ typedScan(scan).scanner }}</td>
          <td class="lowercase">{{ typedScan(scan).type }}</td>
          <td>
            <scan-status [status]="typedScan(scan).status ?? ScanStatus.Error"></scan-status>
          </td>
          <td class="min-w-32">
            <div
              class="mr-4 font-mono text-xs rounded-md overflow-hidden gap-1 shadow-sm shadow-black/20 h-[28px] flex items-stretch">
              <p
                class="flex-1 text-center bg-rose-600/20 text-rose-500 flex items-center justify-center h-full">
                {{ typedScan(scan).severityCritical }}
              </p>
              <p
                class="flex-1 text-center bg-orange-600/20 text-orange-500 flex items-center justify-center h-full">
                {{ typedScan(scan).severityHigh }}
              </p>
              <p
                class="flex-1 text-center bg-yellow-600/20 text-yellow-500 flex items-center justify-center h-full">
                {{ typedScan(scan).severityMedium }}
              </p>
              <p
                class="flex-1 text-center bg-indigo-500/20 text-indigo-400 flex items-center justify-center h-full">
                {{ typedScan(scan).severityLow }}
              </p>
              <p
                class="flex-1 text-center bg-green-500/20 text-green-400 flex items-center justify-center h-full">
                {{ typedScan(scan).severityInfo }}
              </p>
            </div>
          </td>
          <td>
            <div class="text-[#00c869]">
              <span [pTooltip]="typedScan(scan).startedAt" tooltipPosition="top">{{ typedScan(scan).startedAt | timeago }}</span>
            </div>
          </td>
          <td>{{ duration(typedScan(scan).startedAt, typedScan(scan).completedAt) }}</td>
          <td>
            <div class="flex flex-row items-center gap-2">
              <a class="cursor-pointer"
                 [routerLink]="['/project', store.projectId(), 'finding']"
                 [queryParams]="{'scanId': typedScan(scan).id, 'branch': typedScan(scan).commitBranch}">
                <ng-icon name="arrowTopRightOnSquare" size="18"></ng-icon>
              </a>
              <a class="cursor-pointer" [href]="typedScan(scan).jobUrl" target="_blank">
                <ng-icon name="commandLine" size="20"></ng-icon>
              </a>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="flex flex-row justify-end">
      <p-paginator class="sticky bottom-0"
                   (onPageChange)="onPageChange($event)"
                   [first]="firstRecord()"
                   [rows]="pageSize()"
                   [totalRecords]="totalRecords()"
                   [showCurrentPageReport]="isDesktop"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                   [rowsPerPageOptions]="[10, 20, 50, 100]"/>
    </div>
  </p-panel>
</div>
