<p-dialog header="Add User" [modal]="true" [(visible)]="store.showAddUserDialog">
  <div class="flex flex-col gap-4 w-[320px] md:w-[480px]">
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-5 gap-1 items-center">
        <div class="font-semibold">Email</div>
        <input pInputText class="col-span-4" [(ngModel)]="request.email"/>
      </div>
      <div class="grid grid-cols-5 gap-1 items-center">
        <div class="font-semibold">Role</div>
        <div class="col-span-4">
          <p-select-button [options]="store.roles()" optionValue="name" optionLabel="name" [(ngModel)]="request.role"/>
        </div>
      </div>
      <div class="grid grid-cols-5 gap-1 items-center">
        <div class="font-semibold">Verified</div>
        <div class="col-span-4">
          <p-toggle-switch [(ngModel)]="request.verified"/>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center gap-4 justify-end">
      <div class="flex flex-row items-center gap-4 w-fit">
        <p-button severity="secondary" (click)="closeDialog()" label="Cancel"/>
        <p-button severity="primary" [loading]="loading" (click)="onAddUser()" label="Invite"/>
      </div>
    </div>
  </div>
</p-dialog>
