<p-table [loading]="loading" [value]="findings" [scrollable]="true">
  <ng-template #header>
    <tr class="text-sm">
      <th class="w-[50px] min-w-[50px] text-center">
        <p-checkbox binary></p-checkbox>
      </th>
      <th class="w-[25px]">
        <div class="flex flex-row items-center gap-1">
          <span>SEVERITY</span>
        </div>
      </th>
      <th>
        <div class="flex flex-row items-center gap-1">
          <span>SUMMARY</span>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-finding>
    <tr>
      <td class="text-center">
        <p-checkbox binary (onChange)="onSelectFinding(finding.id, $event)"></p-checkbox>
      </td>
      <td>
        <finding-severity [severity]="finding.severity!"></finding-severity>
      </td>
      <td>
        <div class="flex flex-col gap-1 w-full" >
          <div class="cursor-pointer" (click)="emitOpenFinding(finding.id)">
            {{ finding.name }}
          </div>
          <div class="flex flex-row items-center justify-between w-full">
            <div class="flex flex-row items-center gap-2">
              <finding-status-label
                class="border border-surface rounded w-fit px-3 py-1"
                [status]="finding.status">
              </finding-status-label>
            </div>
            <div class="flex flex-row items-center gap-2">
              <div class="flex flex-row items-center gap-1 text-[#00c869]">
                <div class="text-xs border border-surface px-2 py-0.5 rounded-lg w-fit text-[#0B5CAD] bg-[#CBE2F9] dark:bg-[#0B5CAD] dark:text-[#CBE2F9]">
                  {{finding.scanner}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
